<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Base template
        {% endblock %}
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
    </style>
    {% load static %}

    {% block css %}{% endblock %}
</head>
<body>
    {% if messages %}
    <div class="notification-container">
        {% for message in messages %}
            {% if forloop.last %}
                <div class="notification alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


    {% block body %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>